[Unit]
Description=webcam image server
After=network.target

[Service]
User=root
Type=simple
TimeoutStopSec=10
ExecStart=/usr/local/bin/imageserver --delay=2 --controls=focus=175,power_line_frequency=1

Restart=on-failure
RestartSec=15s
SuccessExitStatus=SIGKILL

[Install]
WantedBy=default.target
